<div layout="vertical" layout-fill>

  <header ng-include="'components/navbar/navbar.html'"></header>

  <section layout="row" layout-padding>
    <md-content flex>
      <md-text-float label="Image url" ng-model="imageUrl" class="full-length"></md-text-float>
      <div layout="row">
        <div flex="15" layout="row" layout-align="start center"><span>Max circles</span></div>
        <md-slider flex min="0" max="10000" ng-model="settings.circles" aria-label="circles"></md-slider>
        <div flex="20" layout="row" layout-align="center center"><input type="number" ng-model="settings.circles"/></div>
      </div>
      <cr-cata></cr-cata>
    </md-content>
    <md-content flex md-theme="light-blue-dark" layout="vertical" layout-align="start center">
      <cr-ircl></cr-ircl>
    </md-content>
  </section>

  <footer>
    <md-toolbar layout="row" layout-align="center center">
    </md-toolbar>
  </footer>

</div>
